<div class="wrapper">
  <h1>Om mig</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem repellat
    aspernatur exercitationem vel sapiente, explicabo libero tempora eveniet
    assumenda cumque neque pariatur quaerat. Laborum, dicta.
  </p>
  <div class="contactMeBox">
    <h2>Kontakta mig</h2>
    <div class="input-wrapper">
      <div class="wrapper-name-phone">
        <input [(ngModel)]="name" class="input-name" type="text" placeholder="Ditt namn" />
        <input [(ngModel)]="phonenr" class="input-phonenr" type="text" placeholder="Telnr" />
      </div>
      <div class="wrapper-mail">
        <input [(ngModel)]="mail" class="input-mail" type="text" placeholder="Email" />
      </div>
      <div class="wrapper-message">
        <input [(ngModel)]="message" class="input-message" type="text" placeholder="Meddelande" />
      </div>
      <div class="button">
        <button (click)="sendForm()">Skicka</button>
      </div>
    </div>
  </div>
</div>
