<app-header></app-header>
<div class="wrapper">
  <h1>Om mig</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem repellat
    aspernatur exercitationem vel sapiente, explicabo libero tempora eveniet
    assumenda cumque neque pariatur quaerat. Laborum, dicta.
  </p>
  <div class="contactMeBox">
    <h2>Kontakta mig</h2>
    <div class="input-wrapper">
      <div>
        <input class="input-name" type="text" placeholder="Ditt namn" />
      </div>
      <div>
        <input class="input-phonenr" type="text" placeholder="Telnr" />
      </div>
      <div>
        <input class="input-mail" type="text" placeholder="Email" />
      </div>
      <div>
        <input class="input-message" type="text" placeholder="Meddelande" />
      </div>
    </div>
  </div>
</div>
