.header {
  background-color: #3d2f2b;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  margin: 8%;
  gap: 30px;
}

.social-media-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-right: 1rem;
}

.facebook,
.instagram,
.linkedin {
  width: 30px;
}

.facebook:hover,
.instagram:hover,
.linkedin:hover {
  scale: 1.1;
  transition: 0.3s;
}

.user-owner {
  border: 1px solid black;
  border-radius: 20px;
  padding: 8%;
  cursor: pointer;
  background-color: antiquewhite;
  text-transform: uppercase;
  font-family: "DM Sans", serif;
  letter-spacing: 3px;
  font-family: "headline", sans-serif;
}

.user-owner:hover {
  scale: 103%;
}

.user-owner:active {
  scale: 105%;
}

.hidden {
  display: none;
}

a:hover {
  cursor: pointer;
}
