<div class="blog-cards-wrapper">
  <div class="blog-card-wrapper">
    <h1>Rubrik 1</h1>
    <img class="blog-card-image" src="image/home-office.jpg" />
  </div>
  <div class="blog-card-wrapper">
    <h1>Rubrik 2</h1>
    <img class="blog-card-image" src="image/bedroom.avif" />
  </div>
  <div class="blog-card-wrapper">
    <h1>Rubrik 3</h1>
    <img class="blog-card-image" src="image/livingroom.webp" />
  </div>
  <div class="blog-card-wrapper">
    <h1>Rubrik 4</h1>
    <img class="blog-card-image" src="image/kitchen2.webp" />
  </div>
  <div class="blog-card-wrapper">
    <h1>Rubrik 5</h1>
    <img class="blog-card-image" src="image/kidsroom.jpg" />
  </div>
  <div class="blog-card-wrapper">
    <h1>Rubrik 6</h1>
    <img class="blog-card-image" src="image/walk-in-closet.webp" />
  </div>
</div>
