.nav {
  font-family: "DM Sans", serif;
  color: white;
}

nav {
  display: flex;
  gap: 30px;
  text-transform: uppercase;
  list-style: none;
  align-items: center;
  margin-left: 2rem;
}

a {
  font-size: 20px;
  letter-spacing: 2px;
  text-wrap: nowrap;
  color: white;
}

a:hover {
  scale: 103%;
  transition: 0.3s;
  cursor: pointer;
  pointer-events: auto;
}

a:active {
  scale: 105%;
}

a:visited {
  color: white;
}

a:link {
  text-decoration: none;
}

.hidden {
    display: none;
}
