.blogpost-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 40%;
  margin: 0 auto;
  position: relative;
}

.left {
  border-left: 1px solid black;
  height: 100%;
  position: absolute;
  left: -10%;
}

.right {
  border-right: 1px solid black;
  height: 100%;
  position: absolute;
  right: -10%;
}

h1 {
  font-size: 50px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.italic {
  font-style: italic;
}

.blog-img {
  width: 90%;
  border-radius: 10px;
}

.likeWrapper {
  display: flex;
  gap: 2%;
  justify-content: flex-start;
  margin: 0;
  width: 100%;
}

.like,
.dislike {
  width: 3%;
  cursor: pointer;
}

.dislike:hover,
.like:hover {
  scale: 115%;
  transition: 0.3s;
}

.dislike:active,
.like:active {
  scale: 110%;
}

.commentsAndDateWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.commentsWrapper {
  display: flex;
  flex-direction: column;
}

.comments {
  border-radius: 5px;
  outline: none;
  padding: 0.4rem 0.6rem;
  border: 1px solid rgb(182, 180, 180);
}

.inputandbutton {
  display: flex;
  align-items: center;
}

button {
  border: none;
  margin-left: 0.5rem;
  padding: 0.4rem;
  border-radius: 5px;
  background-color: #7d6862;
  color: white;
  cursor: pointer;
}

button:hover {
  scale: 103%;
}

button:active {
  scale: 105%;
}

.pComment {
    margin: 0.3rem;
    font-style: italic;
}
