<div class="box">
  <div class="wrapper">
    <label class="blogtitle" for="text">Bloggtitel</label>
    <div>
      <input [(ngModel)]="blogTitle" class="blogtitle-text" type="text" />
    </div>
    <div class="wrapper-date-comments">
      <label for="date" class="date">Datum</label>
      <div class="wrapper-checkbox">
        <input [(ngModel)]="blogDate" type="date" />
        <input class="checkbox" type="checkbox" />
        <label>Tillåt kommentarer</label>
      </div>
    </div>
    <div class="wrapper-contentandbutton">
      <div class="content-box">
        <div class="createcontent-box"></div>
        <input
          [(ngModel)]="blogContent"
          class="input-content"
          placeholder="Skriv något.."
        />
      </div>
      <div class="button-wrapper">
        <button (click)="publishPost()">Publicera</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
